.OrdersTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.OrdersTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #66CDAA;
  color: white;
}

.OrdersTable th, .OrdersTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.OrdersTable tr:hover {background-color: #ddd;}