<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel="stylesheet" href="../static/style.css">
  <title>Home</title>
</head>

<body>
  <div class="container mt-5">
    <div class="form-group">
      <form id="myForm">
        <label>Display Name</label>
        <input id="displayName" class="form-control mb-3" type="text" required>
        <div class="custom-file mb-3">
          <input id="gcodeFile" class="custom-file-input" type="file" required>
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <input class="btn btn-block btn-primary" type="submit" value="Upload">
      </form>
    </div>
  </div>

  <!-- <script src="{{ url_for('static', filename='main.js') }}"></script> -->
  <script src="../static/main.js"></script>
</body>

</html>