{% extends 'index.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <!-- Login Form -->
    <form id="loginForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </header>
  <!-- /.container -->
</div>
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock script %}