{% extends 'index.html' %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/orders.css') }}">
{% endblock styles %}


{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <!-- Orders -->
    <div class="container">
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Order</th>
            <th>Filename</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Box</td>
            <td>2-22-2020</td>
            <td>Standby</td>
          </tr>
        </tbody>
      </table>
    </div>
  </header>
  <!-- /.container -->
</div>
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock script %}