<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div= class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">user name</label>
      <input class="form-control" type="text" placeholder="Recipient's user name..." readonly>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">display name</label>
      <input class="form-control" type="text" placeholder="part's name..." readonly>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">date</label>
      <input class="form-control" type="text" placeholder="day/month/year" readonly>

    </div>

    <ul class="list-group list-group-horizontal-sm">
      <li class="list-group-item">stand by</li>
      <li class="list-group-item">printing</li>
      <li class="list-group-item">finished</li>
    </ul>

    </div>
</body>

</html>