<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>profile</title>
</head>

<body>
  <div class="container">
    <br></br>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's first name" aria-label="Recipient's first name"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">change</button>
      </div>
    </div>


    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's last name" aria-label="Recipient's last name"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">change</button>
      </div>
    </div>


    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's user name">
      <div class="input-group-append">
      </div>
    </div>


    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's email" aria-label="Recipient's email"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">change</button>
      </div>
    </div>


    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's password" aria-label="Recipient's password"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">change</button>
      </div>
    </div>
  </div>
</body>

</html>