{% extends 'index.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <!-- Upload Form -->
    <form id="uploadForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Display Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>

      <div class="form-group mt-3">
        <button class="btn btn-primary" type="submit" class="form-control">Upload</button>
      </div>
    </form>
  </header>
  <!-- /.container -->
</div>
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock script %}