<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Captain IR">
  <title>IoTprint | Home</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/workspace.css">
  <link rel="stylesheet" href="../static/css/models.css">
  <link rel="stylesheet" href="../static/css/myFiles.css">
  <link rel="stylesheet" href="../static/css/orders.css">
  <link rel="stylesheet" href="../static/css/upload.css">
</head>

<body>
  <!-- Header -->
  <header>
    <div class="Container">
      <div id="branding">
        <h1>IoTprint</h1>
      </div>
      <!-- Navigation Bar -->
      <nav>
        <form id="loginForm">
          <ul>
            <li>
              <button id="btnProfile" class="BtnProfile" type="button">Profile</button>
            </li>
            <li>
              <button id="btnLogout" class="BtnLogout" type="submit">Logout</button>
            </li>
          </ul>
        </form>
      </nav> <!-- /Navigation Bar -->
    </div>
  </header> <!-- /Header -->

  <section id="content">
    <div class="Container">
      <!-- Aside button list -->
      <aside id="asideButtons">
        <ul>
          <li><button id="btnModelsPage" class="Buttons" type="button">Test Models</button></li>
          <li><button id="btnFilesPage" class="Buttons" type="button">My Files</button></li>
          <li><button id="btnOrdersPage" class="Buttons" type="button">Orders</button></li>
          <li><button id="btnUploadPage" class="Buttons" type="button">Upload</button></li>
        </ul>
      </aside> <!-- /Aside button list -->

      <aside id="asideDynamic">
        <!-- Aside Dynamic -->
        <!-- Dynamic Content -->
      </aside> <!-- /Aside dynamic -->
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <p>IoTprint, Copyright &copy; 2020</p>
  </footer> <!-- /Footer -->

  <script src="../static/js/workspace.js"></script>
  <script src="../static/js/models.js"></script>
  <script src="../static/js/myFiles.js"></script>
  <script src="../static/js/orders.js"></script>
  <script src="../static/js/upload.js"></script>
</body>

</html>